
/* Header Section */

  html {
    scroll-behavior: smooth;
  }


    p, div.language-plaintext {
        font-size: 14px;
    }
    a {
        color: #a94e36;
    }


    a:hover {
        color: #a94e36;
        text-decoration: none; 

    }

    .logo {
        max-width: 300px;  
        height: auto;
    }
/*        padding-top: 15px;*/


    .menu p {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        color: #a0a0a0; /* Gray color */
        cursor: pointer;
        font-weight: bolder;
    }

    .menu a:hover, .menu p:hover, .menu p.active {
        text-decoration: none;
        color: #a94e36;
        font-weight: 100;
    }

/* Body Section */

    body {
        font-family: 'Avenir Medium', sans-serif;
        color: #a0a0a0;
        background-color: #FFFFFF;
    }

    .container-fluid {
        max-width: 1440px;
    }

    h3.project-image-header, h3 {
        font-size: 16px;
    }
    h3.project-image-header {
        text-align: center;

        margin-left: auto !important; 
        margin-right: auto !important; 
    }
    .project-image {
    /*    width: 100%;*/
        height: 420px; 
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

.pm-container h3.project-image-header {
    color: white;
    margin-left: 0px !important;
    margin-right: 0px !important;

}
.pm-container:hover h3.project-image-header, h3 {
    display: block;
    color: black;
    text-decoration: none;
    color: #a94e36;
}

.pm-container a:hover {
    text-decoration: none;
}

    .content-start p,  .content-start h1, .content-start h2, .content-start h3, .content-start div.language-plaintext  {
        margin-bottom: 25px;   
        width: 100%;
    }

/* styling the markdown images */
    .content-start p img {
        object-fit: contain;
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
        max-height: 820px;
    }


    .project-layout-100 {
    /*    background-color: rgb(242, 243, 239);  /* Gray color */
        padding: 20px 0;  /* Adding some vertical padding for spacing. Adjust as necessary. */
    }

/* Footer Section */

    .footer-bar {
        width: 100%;
        padding: 10px 0;
        background-color: #ffffff; 
    }

    .footer-bar p, .footer-bar a {
        color: #a0a0a0; /* Gray color */
    }

    .mobile-text {
        display: none;
    }


    .footer-bar p {
        color: #a0a0a0; /* Brand gray color */
    }

/* Responsiveness for mobile */

    @media (max-width: 768px) {
        .desktop-text {
            display: none;
        }
        .mobile-text {
            display: block;
        }
    }

/* Font Awesome icon size adjustment (optional) */

    i.fa-instagram, .fa-phone, .fa-envelope, .fa-map-marker-alt, .fa-facebook {
        font-size: 24px;
        color: #a94e36; /* Scarlet red color */
        margin-left: 15px ;
    }