/* project backgroungs */
	.project1 {    background-image: url('../../works/senac-school-of-hospitality/01.jpg');    }
	.pm-container:hover .project1 {    background-image: url('../../works/senac-school-of-hospitality/02.jpg');    }

	.project2 {    background-image: url('../../works/alt/two-alt.png');    }
	.pm-container:hover .project2 {    background-image: url('../../img/hover.png');    }

	.project3 {    background-image: url('../../works/alt/three-alt.png');    }
	.pm-container:hover .project3 {    background-image: url('../../img/hover.png');    }

	.project4 {    background-image: url('../../works/four/praca_Cam01_GRD.jpg');    }
	.pm-container:hover .project4 {    background-image: url('../../works/four/praca_Cam02_GRD.jpg');    }

	.project5 {    background-image: url('../../works/alt/five-alt.png');    }
	.pm-container:hover .project5 {    background-image: url('../../img/hover.png');    }

	.project6 {    background-image: url('../../works/alt/six-alt.png');    }
	.pm-container:hover .project6 {    background-image: url('../../img/hover.png');    }

	.project7 {    background-image: url('../../works/alt/seven-alt.png');    }
	.pm-container:hover .project7 {    background-image: url('../../img/hover.png');    }

	.project8 {    background-image: url('../../works/alt/eight-alt.png');    }
	.pm-container:hover .project8 {    background-image: url('../../img/hover.png');    }

	.project9 {    background-image: url('../../works/alt/nine-alt.png');    }
	.pm-container:hover .project9 {    background-image: url('../../img/hover.png');    }

	.project10 {    background-image: url('../../works/alt/ten-alt.png');    }
	.pm-container:hover .project10 {    background-image: url('../../img/hover.png');    }

	.project11 {    background-image: url('../../works/alt/eleven-alt.png');    }
	.pm-container:hover .project11 {    background-image: url('../../img/hover.png');    }

	.project12 {    background-image: url('../../works/alt/twelve-alt.png');    }
	.pm-container:hover .project12 {    background-image: url('../../img/hover.png');    }
	/* Header Section */



/* Styles for medium-sized screens (md) */
@media (min-width: 768px) {

	/* project custom padding */
	.project1, .project3, .project5 , .project7, .project9 {   
		margin-left: 0px !important;
		margin-right: 18% !important;
	}


	.project2, .project4, .project6, .project8 {   
		margin-left: 18% !important;
		margin-right: 0px !important;
	}

	.project1, .project3, .project5 , .project7, .project9, .project2, .project4, .project6, .project8 {   
		
		margin-top: 10%;
		margin-bottom: 10%;
		max-height: 200px;
	}

}

/* Styles for large screens (lg) */
@media (min-width: 992px) {

	/* project custom padding */
	.project1, .project4, .project7 {   

		margin-left: 9% !important;
		margin-right: 9% !important;
		align-self: left !important;
	}


	.project2, .project5, .project8 {   

		margin-left: 9% !important;
		margin-right: 9% !important;
	}

	.project3, .project6, .project9 {   

		margin-left: 9%% !important;
		margin-right: 9% !important;
	}


	.project1, .project3, .project5 , .project7, .project9, .project2, .project4, .project6, .project8 {   
		
		margin-top: 10%;
		margin-bottom: 10%;
		max-height: 200px;

	}
}

/* Styles for mobile screens ( ) */
@media (max-width: 768px) {
	.project1, .project3, .project5 , .project7, .project9, .project2, .project4, .project6, .project8 {   
		
		margin-top: 5%;
		margin-bottom: 5%;


	}
}

