/* project backgroungs */



.N125A22-house {    background-image: url('../../works/01_N125A22-house/01.jpg');    }
.pm-container:hover .N125A22-house {    background-image: url('../../img/hover.png');    }


.home-logo {    background-image: url('/img/proem_logo.png');    }
.pm-container:hover .home-logo {    background-image: url('/img/proem_logo.png');    }

.alotaiba-museum {    background-image: url('../../works/02_alotaiba-museum/01-min.jpg');    }
.pm-container:hover .alotaiba-museum {    background-image: url('../../img/hover.png');    }


.fountain-square {    background-image: url('../../works/03_fountain-square/01-min.jpg');    }
.pm-container:hover .fountain-square {    background-image: url('../../img/hover.png');     }


.golpilheira-plaza {    background-image: url('../../works/04_golpilheira-plaza/five.jpg');    }
.pm-container:hover .golpilheira-plaza {    background-image: url('../../img/hover.png');     }


.murouj-extension {    background-image: url('../../works/05_murouj-extension/01-min.jpg');    }
.pm-container:hover .murouj-extension {    background-image: url('../../img/hover.png');     }


.le-berkeley {    background-image: url('../../works/06_le-berkeley/01-min.jpg');    }
.pm-container:hover .le-berkeley {    background-image: url('../../img/hover.png');     }


.sahara-equestrain-center {    background-image: url('../../works/07_sahara-equestrian-center/01-min.jpg');    }
.pm-container:hover .sahara-equestrain-center {    background-image: url('../../img/hover.png');     }


.ms-house {    background-image: url('../../works/08_ms-house/01-min.jpg');    }
.pm-container:hover .ms-house {    background-image: url('../../img/hover.png');     }


.b-villas-yarmouk {    background-image: url('../../works/09_b-villas-yarmouk/01-min.jpg');    }
.pm-container:hover .b-villas-yarmouk {    background-image: url('../../img/hover.png');     }


.quinta-das-garridas {    background-image: url('../../works/10_quinta-das-garridas/05-min.jpg');    }
.pm-container:hover .quinta-das-garridas {    background-image: url('../../img/hover.png');     }


.querteira-cultural-park {    background-image: url('../../works/11_quarteira-cultural-park/02-min.jpg');    }
.pm-container:hover .querteira-cultural-park {    background-image: url('../../img/hover.png');     }


.senac-school-of-hospitality {    background-image: url('../../works/12_senac-school-of-hospitality/01-min.jpg');    }
.pm-container:hover .senac-school-of-hospitality {    background-image: url('../../img/hover.png');     }


.thessaloniki-international-fairground {    background-image: url('../../works/13_thessaloniki-international-fairground/01-min.jpg');    }
.pm-container:hover .thessaloniki-international-fairground {    background-image: url('../../img/hover.png');     }


.sahara-enterance {    background-image: url('../../works/14_sahara-enterance/nine_00001.jpg');    }
.pm-container:hover .sahara-enterance {    background-image: url('../../img/hover.png');     }



/* Styles for medium-sized screens (md) */
@media (min-width: 768px) {

	/* project custom padding */
	.project1, .project3, .project5, .project7, .project9, .project11, .project13, .project15 {   
		margin-left: 9% !important;
		margin-right: 9% !important;
	}


	.project2, .project4, .project6, .project8, .project10, .project12, .project14, .project16 {   
		margin-left: 9% !important;
		margin-right: 9% !important;
	}

	.project1, .project2, .project3, .project4, .project5, .project6, .project7, .project8, .project9, .project10, .project11, .project12, .project13, .project14 {   
		
		margin-top: 10%;
		margin-bottom: 10%;
		max-height: 200px;
	}

}

/* Styles for large screens (lg) */
@media (min-width: 992px) {

	/* project custom padding */
	.project1, .project4, .project7, .project10, .project13 {   

		margin-left: 9% !important;
		margin-right: 9% !important;
		align-self: left !important;
	}


	.project2, .project5, .project8, .project11 , .project4 {   

		margin-left: 9% !important;
		margin-right: 9% !important;
	}

	.project3, .project6, .project9, .project12{   

		margin-left: 9%% !important;
		margin-right: 9% !important;
	}


	.project1, .project2, .project3 , .project4, .project5, .project6, .project7, .project8, .project9, .project10, .project11, .project12, .project13, .project14 {   
		
		margin-top: 10%;
		margin-bottom: 10%;
		max-height: 200px;

	}
}

/* Styles for mobile screens ( ) */
@media (max-width: 768px) {

	.project1, .project2, .project3 , .project4, .project5, .project6, .project7, .project8, .project9, .project10, .project1, .project2, .project3, .project4 {	
		margin-top: 5%;
		margin-bottom: 5%;


	}
}

