/* project backgroungs */
	.senac-school-of-hospitality {    background-image: url('../../works/senac-school-of-hospitality/01.jpg');    }
	.pm-container:hover .senac-school-of-hospitality {    background-image: url('../../works/senac-school-of-hospitality/04.jpg');    }

	.fountain-square {    background-image: url('../../works/fountain-square/01.jpg');    }
	.pm-container:hover .fountain-square {    background-image: url('../../works/fountain-square/03.png');    }

	.quinta-das-garridas {    background-image: url('../../works/quinta-das-garridas/01.jpg');    }
	.pm-container:hover .quinta-das-garridas {    background-image: url('../../works/quinta-das-garridas/02.jpg');    }

	.b-villas-yarmouk {    background-image: url('../../works/b-villas-yarmouk/05.jpg');    }
	.pm-container:hover .b-villas-yarmouk {    background-image: url('../../works/b-villas-yarmouk/02.jpg');    }

	.alotaiba-museum {    background-image: url('../../works/alotaiba-museum/01.jpg');    }
	.pm-container:hover .alotaiba-museum {    background-image: url('../../works/alotaiba-museum/03.jpg');    }

	.murouj-extension {    background-image: url('../../works/murouj-extension/Multiusos_Cam1_GRD2.jpg');    }
	.pm-container:hover .murouj-extension {    background-image: url('../../works/murouj-extension/Multiusos_Cam2_GRD2.jpg');    }

	.N125A22-house {    background-image: url('../../works/N125A22-house/three_one_00005.jpg');    }
	.pm-container:hover .N125A22-house {    background-image: url('../../works/N125A22-house/three_two_00005.jpg');    }

	.sahara-equestrain-center {    background-image: url('../../works/sahara-equestrain-center/eight_00001.jpg');    }
	.pm-container:hover .sahara-equestrain-center {    background-image: url('../../works/sahara-equestrain-center/eight_00002.jpg');    }

	.le-berkeley {    background-image: url('../../works/le-berkeley/one_one_00001.jpg');    }
	.pm-container:hover .le-berkeley {    background-image: url('../../works/le-berkeley/one_one_00002.jpg');    }

	.project10 {    background-image: url('../../works/alt/ten-alt.png');    }
	.pm-container:hover .project10 {    background-image: url('../../img/hover.png');    }

	.project11 {    background-image: url('../../works/alt/eleven-alt.png');    }
	.pm-container:hover .project11 {    background-image: url('../../img/hover.png');    }

	.project12 {    background-image: url('../../works/alt/twelve-alt.png');    }
	.pm-container:hover .project12 {    background-image: url('../../img/hover.png');    }
	/* Header Section */



/* Styles for medium-sized screens (md) */
@media (min-width: 768px) {

	/* project custom padding */
	.project1, .project3, .project5 , .project7, .project9 {   
		margin-left: 9% !important;
		margin-right: 9% !important;
	}


	.project2, .project4, .project6, .project8 {   
		margin-left: 9% !important;
		margin-right: 9% !important;
	}

	.project1, .project3, .project5 , .project7, .project9, .project2, .project4, .project6, .project8 {   
		
		margin-top: 10%;
		margin-bottom: 10%;
		max-height: 200px;
	}

}

/* Styles for large screens (lg) */
@media (min-width: 992px) {

	/* project custom padding */
	.project1, .project4, .project7 {   

		margin-left: 9% !important;
		margin-right: 9% !important;
		align-self: left !important;
	}


	.project2, .project5, .project8 {   

		margin-left: 9% !important;
		margin-right: 9% !important;
	}

	.project3, .project6, .project9 {   

		margin-left: 9%% !important;
		margin-right: 9% !important;
	}


	.project1, .project3, .project5 , .project7, .project9, .project2, .project4, .project6, .project8 {   
		
		margin-top: 10%;
		margin-bottom: 10%;
		max-height: 200px;

	}
}

/* Styles for mobile screens ( ) */
@media (max-width: 768px) {
	.project1, .project3, .project5 , .project7, .project9, .project2, .project4, .project6, .project8 {   
		
		margin-top: 5%;
		margin-bottom: 5%;


	}
}

